In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import seaborn as sbn 
sbn.set_style('whitegrid')
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

# Set it None to display all rows in the dataframe
# pd.set_option('display.max_rows', None)

# Set it to None to display all columns in the dataframe
pd.set_option('display.max_columns', None)

In [2]:
df0 = pd.read_csv("Autoscout_cleaning.csv")
df0.head(10)

,Make_Model,Make,Location,Price,Body_Type,Type,Doors,Mileage,Gearbox,Fuel_Type,Colour,Seller,Seats,Gears,CO2_Emissions,Drivetrain,Cylinders,Comfort_Convenience,Entertainment_Media,Safety_Security,Extras,Empty_Weight,Upholstery,Previous_Owner,Energy_Efficiency_Class,Taxi_Rental_Car,Age,Power_hp,Engine_Size_cc,cons_comb,cons_city,cons_country
0,Mercedes-Benz A 160,Mercedes-Benz A 160,Spain,16950.0,Compact,Used,5.0,120200.0,Manual,Diesel,Black,Dealer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN
1,Mercedes-Benz EQE 350,Mercedes-Benz Eqe 350,Spain,80900.0,Compact,Pre-registered,4.0,5000.0,Automatic,Electric,NaN,Dealer,5.0,9.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,292.0,1000.0,NaN,NaN,NaN
2,Mercedes-Benz A 45 AMG,Mercedes-Benz A 45 Amg,Spain,69900.0,Compact,Used,5.0,18900.0,Automatic,Benzine,Grey,Dealer,5.0,8.0,NaN,4WD,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,421.0,2000.0,8.4,10.9,5.8
3,Mercedes-Benz A 35 AMG,Mercedes-Benz A 35 Amg,Spain,46990.0,Compact,Used,5.0,18995.0,Automatic,Benzine,Yellow,Dealer,5.0,7.0,NaN,4WD,4.0,"Air conditioning, Automatic climate control, P...",USB,"ABS, Central door lock, Driver-side airbag, El...",Sport seats,NaN,NaN,NaN,NaN,NaN,2,306.0,2000.0,7.3,9.3,6.1
4,Mercedes-Benz A 45 AMG,Mercedes-Benz A 45 Amg,Spain,16800.0,Compact,Used,5.0,197000.0,Automatic,Diesel,White,Dealer,5.0,7.0,NaN,4WD,4.0,"Air conditioning, Electrical side mirrors, Mul...","Bluetooth, CD player, MP3, USB","ABS, Central door lock, Driver-side airbag, El...",NaN,1545.0,NaN,NaN,NaN,NaN,7,136.0,2000.0,4.9,5.7,4.4
5,Mercedes-Benz C 160,Mercedes-Benz C 160,Germany,4690.0,Compact,Used,3.0,165000.0,Manual,Benzine,Black,Dealer,4.0,6.0,196.0,Rear,4.0,"Air conditioning, Armrest, Automatic climate c...","CD player, On-board computer, Radio","ABS, Bi-Xenon headlights, Central door lock, D...","Alloy wheels (17""), Catalytic Converter, Emerg...",1465.0,Cloth,NaN,NaN,NaN,17,122.0,1600.0,8.2,11.6,6.2
6,Mercedes-Benz CLA 180,Mercedes-Benz Cla 180,Spain,22550.0,Compact,Used,5.0,83339.0,Manual,Diesel,Silver,Dealer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN
7,Mercedes-Benz A 220,Mercedes-Benz A 220,Spain,26900.0,Compact,Used,5.0,48900.0,Automatic,Benzine,Grey,Dealer,5.0,7.0,NaN,Front,4.0,"Air conditioning, Automatic climate control, P...",USB,"ABS, Central door lock, Driver-side airbag, El...",NaN,1450.0,NaN,NaN,NaN,NaN,3,190.0,2000.0,6.1,8.1,5.1
8,Mercedes-Benz A 35 AMG,Mercedes-Benz A 35 Amg,Belgium,44999.0,Compact,Used,5.0,56876.0,Automatic,Benzine,Grey,Dealer,NaN,NaN,168.0,NaN,NaN,"Multi-function steering wheel, Navigation syst...",NaN,Emergency brake assistant,Sport package,NaN,Full_leather,NaN,NaN,NaN,3,306.0,2000.0,NaN,NaN,NaN
9,Mercedes-Benz A 200,Mercedes-Benz A 200,Spain,23900.0,Compact,Used,5.0,21854.0,Automatic,Diesel,White,Dealer,5.0,1.0,NaN,Front,4.0,"Air conditioning, Automatic climate control, E...",NaN,"ABS, Central door lock, Driver-side airbag, El...",Alloy wheels,1365.0,NaN,NaN,NaN,NaN,4,139.0,2000.0,5.4,6.9,4.5

In [3]:
df = df0.copy()

In [4]:
df.shape

(28630, 32)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28630 entries, 0 to 28629
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make_Model               28630 non-null  object
 1   Make                     28630 non-null  object
 2   Location                 28630 non-null  object
 3   Price                    28630 non-null  float64
 4   Body_Type                28630 non-null  object
 5   Type                     28630 non-null  object
 6   Doors                    28271 non-null  float64
 7   Mileage                  28629 non-null  float64
 8   Gearbox                  28382 non-null  object
 9   Fuel_Type                28630 non-null  object
 10  Colour                   26906 non-null  object
 11  Seller                   28630 non-null  object
 12  Seats                    25505 non-null  float64
 13  Gears                    18954 non-null  float64
 14  CO2_Emissions            18594 non-null  float64
 15  Drivetrain               16893 non-null  object
 16  Cylinders                18852 non-null  float64
 17  Comfort_Convenience      25433 non-null  object
 18  Entertainment_Media      23644 non-null  object
 19  Safety_Security          25415 non-null  object
 20  Extras                   23480 non-null  object
 21  Empty_Weight             17758 non-null  float64
 22  Upholstery               18610 non-null  object
 23  Previous_Owner           13650 non-null  float64
 24  Energy_Efficiency_Class  7804 non-null   object
 25  Taxi_Rental_Car          422 non-null    object
 26  Age                      28630 non-null  int64
 27  Power_hp                 28058 non-null  float64
 28  Engine_Size_cc           27227 non-null  float64
 29  cons_comb                20100 non-null  float64
 30  cons_city                20100 non-null  float64
 31  cons_country             20100 non-null  float64
dtypes: float64(14), int64(1), object(17)
memory usage: 7.0+ MB

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Blue; font-size:150%; text-align:center; border-radius:10px 10px;">**_Null values in data_**</p>

In [6]:
df.isnull().sum()

Make_Model                     0
Make                           0
Location                       0
Price                          0
Body_Type                      0
Type                           0
Doors                        359
Mileage                        1
Gearbox                      248
Fuel_Type                      0
Colour                      1724
Seller                         0
Seats                       3125
Gears                       9676
CO2_Emissions              10036
Drivetrain                 11737
Cylinders                   9778
Comfort_Convenience         3197
Entertainment_Media         4986
Safety_Security             3215
Extras                      5150
Empty_Weight               10872
Upholstery                 10020
Previous_Owner             14980
Energy_Efficiency_Class    20826
Taxi_Rental_Car            28208
Age                            0
Power_hp                     572
Engine_Size_cc              1403
cons_comb                   8530
cons_city                   8530
cons_country                8530
dtype: int64

In [7]:
df.isnull().sum()/df.shape[0]*100

Make_Model                  0.000000
Make                        0.000000
Location                    0.000000
Price                       0.000000
Body_Type                   0.000000
Type                        0.000000
Doors                       1.253929
Mileage                     0.003493
Gearbox                     0.866224
Fuel_Type                   0.000000
Colour                      6.021656
Seller                      0.000000
Seats                      10.915124
Gears                      33.796717
CO2_Emissions              35.054139
Drivetrain                 40.995459
Cylinders                  34.152986
Comfort_Convenience        11.166608
Entertainment_Media        17.415299
Safety_Security            11.229480
Extras                     17.988124
Empty_Weight               37.974153
Upholstery                 34.998254
Previous_Owner             52.322738
Energy_Efficiency_Class    72.741879
Taxi_Rental_Car            98.526022
Age                         0.000000
Power_hp                    1.997904
Engine_Size_cc              4.900454
cons_comb                  29.793922
cons_city                  29.793922
cons_country               29.793922
dtype: float64

**------------------------------------------------------------------------------------------------------------------------------**

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Blue; font-size:150%; text-align:center; border-radius:10px 10px;">**_Handling with Missing Values_**</p>

**------------------------------------------------------------------------------------------------------------------------------**

In [8]:
miss_val = []

[miss_val.append(column) for column in df.columns if any(df[column].isnull())]

print("Columns that have missing values :")

miss_val

Columns that have missing values :

['Doors',
 'Mileage',
 'Gearbox',
 'Colour',
 'Seats',
 'Gears',
 'CO2_Emissions',
 'Drivetrain',
 'Cylinders',
 'Comfort_Convenience',
 'Entertainment_Media',
 'Safety_Security',
 'Extras',
 'Empty_Weight',
 'Upholstery',
 'Previous_Owner',
 'Energy_Efficiency_Class',
 'Taxi_Rental_Car',
 'Power_hp',
 'Engine_Size_cc',
 'cons_comb',
 'cons_city',
 'cons_country']

In [9]:
def fill_most_freq(df, group_col, col_name):
    
    '''Fills the missing values with the most existing value (mode) in the relevant column according to single-stage grouping'''
    
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        mode = list(df[cond][col_name].mode())
        if mode != []:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[cond][col_name].mode()[0])
        else:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[col_name].mode()[0])
    print("Number of NaN : ", df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [10]:
def fill_prop(df, group_col, col_name):
    
    '''Fills the missing values with "ffill and bfill method" according to single-stage grouping'''
    
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        df.loc[cond, col_name] = df.loc[cond, col_name].fillna(method="ffill").fillna(method="bfill")
    df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    print("Number of NaN : ", df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [11]:
# method can be either "mode" or "mean" or "median" or "ffill"

def fill(df, group_col1, group_col2, col_name, method): 
    
    '''Fills the missing values with "mode/mean/median/ffill/bfill method" according to double-stage grouping'''
    
    if method == "mode":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                mode1 = list(df[cond1][col_name].mode())
                mode2 = list(df[cond2][col_name].mode())
                if mode2 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])
                elif mode1 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])
                else:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])

    elif method == "mean":
        df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("mean"), inplace = True)
        df[col_name].fillna(df.groupby(group_col1)[col_name].transform("mean"), inplace = True)
        df[col_name].fillna(df[col_name].mean(), inplace = True)
        
    elif method == "median":
        df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("median"), inplace = True)
        df[col_name].fillna(df.groupby(group_col1)[col_name].transform("median"), inplace = True)
        df[col_name].fillna(df[col_name].median(), inplace = True)
        
    elif method == "ffill":           
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(method="ffill").fillna(method="bfill")
                
        for group1 in list(df[group_col1].unique()):
            cond1 = df[group_col1]==group1
            df.loc[cond1, col_name] = df.loc[cond1, col_name].fillna(method="ffill").fillna(method="bfill")            
           
        df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Blue; font-size:200%; text-align:center; border-radius:10px 10px;">**_Let's examine and fill the missing values of all the columns/features one by one_**</p>

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Doors_**</p>

In [12]:
df[['Doors']]

       Doors
0        5.0
1        4.0
2        5.0
3        5.0
4        5.0
...      ...
28625    4.0
28626    4.0
28627    3.0
28628    4.0
28629    4.0

[28630 rows x 1 columns]

In [13]:
fill(df, "Make_Model", "Body_Type", "Doors", "mode")

Number of NaN :  0
------------------
5.0    17637
2.0     5669
4.0     3013
3.0     2304
6.0        5
1.0        2
Name: Doors, dtype: int64

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Mileage_**</p>

In [14]:
df[['Mileage']]

        Mileage
0      120200.0
1        5000.0
2       18900.0
3       18995.0
4      197000.0
...         ...
28625   40345.0
28626  145000.0
28627   96000.0
28628   94343.0
28629  230047.0

[28630 rows x 1 columns]

In [15]:
df.Mileage.isnull().sum()

1

In [16]:
round(df.Mileage.describe().mean(),0)

224168.0

In [17]:
df.Mileage = df.Mileage.replace(np.nan, round(df.Mileage.describe().mean(),0))

In [18]:
df.Mileage.isnull().sum()

0

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Gearbox_**</p>

In [19]:
df[['Gearbox']]

         Gearbox
0         Manual
1      Automatic
2      Automatic
3      Automatic
4      Automatic
...          ...
28625  Automatic
28626  Automatic
28627     Manual
28628  Automatic
28629  Automatic

[28630 rows x 1 columns]

In [20]:
df.Gearbox.isnull().sum()

248

In [ ]:
fill(df,"Make_Model", 'Price', 'Gearbox', "mode")

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Fuel_Type_**</p>

In [ ]:
df[['Fuel_Type']]

In [ ]:
for group in list(df["Make_Model"].unique()):
    cond = df["Make_Model"] == group
    mode = list(df[cond]["Fuel_Type"].mode())
    if mode != []:
        df.loc[cond, "Fuel_Type"] = df.loc[cond, "Fuel_Type"].fillna(df[cond]["Fuel_Type"].mode()[0])
    else:
        df.loc[cond, "Fuel_Type"] = df.loc[cond, "Fuel_Type"].fillna(df["Fuel_Type"].mode()[0])

In [ ]:
df["Fuel_Type"].isnull().sum()

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Colour_**</p>

In [25]:
df[['Colour']]

       Colour
0       Black
1         NaN
2        Grey
3      Yellow
4       White
...       ...
28625   Black
28626    Grey
28627    Grey
28628    Blue
28629    Grey

[28630 rows x 1 columns]

In [29]:
df["Colour"]=df["Colour"].replace(np.nan, "Other")
df["Colour"].value_counts()

Black     6473
Grey      5998
White     5185
Blue      3478
Red       2242
Other     1724
Silver    1622
Green      450
Brown      437
Orange     288
Beige      278
Yellow     230
Violet      98
Bronze      65
Gold        62
Name: Colour, dtype: int64

In [30]:
df["Colour"].isnull().sum()

0

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Seats_**</p>

In [ ]:
df[['Seats']]

In [ ]:
fill(df, "Make_Model", "Body_Type", "Seats", "mode")

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Power_hp_**</p>

In [12]:
df[['Power_hp']]

       Power_hp
0           NaN
1         292.0
2         421.0
3         306.0
4         136.0
...         ...
28625     392.0
28626     170.0
28627     114.0
28628     254.0
28629     200.0

[28630 rows x 1 columns]

In [13]:
df.Power_hp.isnull().sum()

572

In [14]:
for group in list(df["Make_Model"].unique()):
    cond = df["Make_Model"] == group
    df.loc[cond, "Power_hp"] = df.loc[cond, "Power_hp"].fillna(method= "ffill").fillna(method= "bfill")
df.Power_hp = df.Power_hp.fillna(method= "ffill").fillna(method= "bfill")

In [15]:
df.Power_hp.isnull().sum()

0

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Engine_Size_cc_**</p>

In [16]:
df[['Engine_Size_cc']]

       Engine_Size_cc
0                 NaN
1              1000.0
2              2000.0
3              2000.0
4              2000.0
...               ...
28625          2000.0
28626          2000.0
28627          1600.0
28628          2000.0
28629          3000.0

[28630 rows x 1 columns]

In [17]:
df['Engine_Size_cc'].value_counts(dropna=False)

2000.0    8048
1400.0    5396
1600.0    4944
1000.0    3936
1200.0    2615
NaN       1403
3000.0    1173
4000.0     542
5000.0     517
6000.0      56
Name: Engine_Size_cc, dtype: int64

In [ ]:
fill(df, "Make_Model", "Power_hp", 'Engine_Size_cc', "mode")

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Gears_**</p>

**Araçları modeline,türüne ve vites çeşitlerine göre gruplayıp doldurma işlemi yapmaya karar verdik**

In [19]:
df[['Gears']]

       Gears
0        NaN
1        9.0
2        8.0
3        7.0
4        7.0
...      ...
28625    8.0
28626    5.0
28627    6.0
28628    8.0
28629    NaN

[28630 rows x 1 columns]

In [20]:
df0["Gears"].fillna("-", inplace=True)

In [21]:
df0.groupby(["Make_Model", "Body_Type", "Gearbox", "Gears"]).Price.describe().sample(1000)

,,,,count,mean,std,min,25%,50%,75%,max
Make_Model,Body_Type,Gearbox,Gears,,,,,,,,
SEAT Leon,Sedan,Manual,5.0,6.0,9356.500000,4400.364701,999.0,8862.5,10725.0,12025.0,12990.0
Nissan Patrol,Off-Road/Pick-up,Manual,-,1.0,9990.000000,NaN,9990.0,9990.0,9990.0,9990.0,9990.0
Dacia Dokker,Station wagon,Manual,5.0,17.0,13079.235294,4207.236126,4790.0,11499.0,13680.0,15980.0,19980.0
Dacia Spring,Compact,Automatic,1.0,25.0,22879.600000,611.473494,19950.0,22985.0,22985.0,22985.0,23090.0
Mercedes-Benz C 300,Coupe,Automatic,9.0,8.0,44222.250000,6220.763429,35800.0,41642.5,44690.0,47078.5,54670.0
...,...,...,...,...,...,...,...,...,...,...,...
Toyota Aristo,Sedan,Automatic,4.0,1.0,24200.000000,NaN,24200.0,24200.0,24200.0,24200.0,24200.0
Renault Captur,Compact,Automatic,6.0,1.0,16260.000000,NaN,16260.0,16260.0,16260.0,16260.0,16260.0
Mercedes-Benz E 450,Coupe,Automatic,-,2.0,66885.000000,16963.491681,54890.0,60887.5,66885.0,72882.5,78880.0
Mercedes-Benz SL 280,Convertible,Manual,-,1.0,13950.000000,NaN,13950.0,13950.0,13950.0,13950.0,13950.0
SEAT Altea,Sedan,Manual,6.0,2.0,5485.000000,2114.249276,3990.0,4737.5,5485.0,6232.5,6980.0

In [22]:
df0.Gears.nunique()

12

In [23]:
df0["Gears"].replace([0,1,2,3,4,9,10,"-"], np.nan, inplace=True)

In [24]:
df0["Gears"].value_counts(dropna=False)

NaN    11455
6.0     8412
5.0     5335
7.0     1738
8.0     1690
Name: Gears, dtype: int64

In [ ]:
for group1 in list(df["Make_Model"].unique()):
    for group2 in list(df["Body_Type"].unique()):
        for group3 in list(df["Gearbox"].unique()):
            cond1 = df["Make_Model"]==group1
            cond2 = (df["Make_Model"]==group1) & (df["Body_Type"]==group2)
            cond3 = (df["Make_Model"]==group1) & (df["Body_Type"]==group2) & (df0["Gearbox"]==group3)
            mode1 = list(df[cond1]["Gears"].mode())
            mode2 = list(df[cond2]["Gears"].mode())
            mode3 = list(df[cond3]["Gears"].mode())
            if mode3 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond3]["Gears"].mode()[0])
            elif mode2 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond2]["Gears"].mode()[0])
            elif mode1 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond1]["Gears"].mode()[0])
            else:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df["Gears"].mode()[0])

In [ ]:
df0["Gears"].value_counts(dropna=False)

In [52]:
df.Gears.isnull().sum()

196

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_CO2_Emissions_**</p>

In [48]:
df[['CO2_Emissions']]

       CO2_Emissions
0                NaN
1                0.0
2                NaN
3                NaN
4                NaN
...              ...
28625            NaN
28626          217.0
28627           99.0
28628          149.0
28629          251.0

[28630 rows x 1 columns]

In [49]:
df["CO2_Emissions"].fillna("-", inplace=True)

In [50]:
df.groupby(["Make_Model", "Body_Type", "Fuel_Type", "CO2_Emissions"]).Price.describe()

                                                       count     mean  \
Make_Model   Body_Type        Fuel_Type CO2_Emissions
Dacia        Compact          Benzine   -                3.0  21431.0
             Sedan            Benzine   -                1.0   9999.0
             Station wagon    Benzine   130.0            1.0  21799.0
Dacia Break  Station wagon    Benzine   -                1.0  20500.0
Dacia Dokker Compact          Diesel    -                1.0  11930.0
...                                                      ...      ...
Volvo XC90   Off-Road/Pick-up Electric  0.0              4.0  64400.0
             Sedan            Diesel    47.0             1.0  84900.0
                                        -                2.0  48100.0
             Station wagon    Diesel    149.0            2.0  29500.0
                                        152.0            2.0  36000.0

                                                               std      min  \
Make_Model   Body_Type        Fuel_Type CO2_Emissions
Dacia        Compact          Benzine   -              1661.743663  19515.0
             Sedan            Benzine   -                      NaN   9999.0
             Station wagon    Benzine   130.0                  NaN  21799.0
Dacia Break  Station wagon    Benzine   -                      NaN  20500.0
Dacia Dokker Compact          Diesel    -                      NaN  11930.0
...                                                            ...      ...
Volvo XC90   Off-Road/Pick-up Electric  0.0            9814.954576  55900.0
             Sedan            Diesel    47.0                   NaN  84900.0
                                        -               565.685425  47700.0
             Station wagon    Diesel    149.0             0.000000  29500.0
                                        152.0             0.000000  36000.0

                                                           25%      50%  \
Make_Model   Body_Type        Fuel_Type CO2_Emissions
Dacia        Compact          Benzine   -              20907.0  22299.0
             Sedan            Benzine   -               9999.0   9999.0
             Station wagon    Benzine   130.0          21799.0  21799.0
Dacia Break  Station wagon    Benzine   -              20500.0  20500.0
Dacia Dokker Compact          Diesel    -              11930.0  11930.0
...                                                        ...      ...
Volvo XC90   Off-Road/Pick-up Electric  0.0            55900.0  64400.0
             Sedan            Diesel    47.0           84900.0  84900.0
                                        -              47900.0  48100.0
             Station wagon    Diesel    149.0          29500.0  29500.0
                                        152.0          36000.0  36000.0

                                                           75%      max
Make_Model   Body_Type        Fuel_Type CO2_Emissions
Dacia        Compact          Benzine   -              22389.0  22479.0
             Sedan            Benzine   -               9999.0   9999.0
             Station wagon    Benzine   130.0          21799.0  21799.0
Dacia Break  Station wagon    Benzine   -              20500.0  20500.0
Dacia Dokker Compact          Diesel    -              11930.0  11930.0
...                                                        ...      ...
Volvo XC90   Off-Road/Pick-up Electric  0.0            72900.0  72900.0
             Sedan            Diesel    47.0           84900.0  84900.0
                                        -              48300.0  48500.0
             Station wagon    Diesel    149.0          29500.0  29500.0
                                        152.0          36000.0  36000.0

[8234 rows x 8 columns]

In [51]:
# Electric cars
df.groupby([ "Fuel_Type","Make_Model", "Body_Type", "CO2_Emissions"]).Price.describe().loc['Electric']

                                              count          mean  \
Make_Model    Body_Type        CO2_Emissions
Dacia Spring  Compact          -               27.0  22753.666667
              Off-Road/Pick-up 0.0              2.0  17494.500000
                               -                1.0  22980.000000
              Sedan            0.0              1.0  18400.000000
                               -                8.0  21581.750000
...                                             ...           ...
Skoda Enyaq   Sedan            -                1.0  61930.000000
Toyota Proace Station wagon    0.0              1.0  40999.000000
Toyota RAV 4  Off-Road/Pick-up 0.0              4.0  46750.000000
Volvo S90     Sedan            0.0              2.0  51900.000000
Volvo XC90    Off-Road/Pick-up 0.0              4.0  64400.000000

                                                      std      min       25%  \
Make_Model    Body_Type        CO2_Emissions
Dacia Spring  Compact          -               912.015899  19269.0  22985.00
              Off-Road/Pick-up 0.0            1407.849601  16499.0  16996.75
                               -                      NaN  22980.0  22980.00
              Sedan            0.0                    NaN  18400.0  18400.00
                               -              2571.869067  18099.0  21074.25
...                                                   ...      ...       ...
Skoda Enyaq   Sedan            -                      NaN  61930.0  61930.00
Toyota Proace Station wagon    0.0                    NaN  40999.0  40999.00
Toyota RAV 4  Off-Road/Pick-up 0.0               0.000000  46750.0  46750.00
Volvo S90     Sedan            0.0               0.000000  51900.0  51900.00
Volvo XC90    Off-Road/Pick-up 0.0            9814.954576  55900.0  55900.00

                                                  50%       75%      max
Make_Model    Body_Type        CO2_Emissions
Dacia Spring  Compact          -              22985.0  22985.00  23090.0
              Off-Road/Pick-up 0.0            17494.5  17992.25  18490.0
                               -              22980.0  22980.00  22980.0
              Sedan            0.0            18400.0  18400.00  18400.0
                               -              21599.0  21607.00  27044.0
...                                               ...       ...      ...
Skoda Enyaq   Sedan            -              61930.0  61930.00  61930.0
Toyota Proace Station wagon    0.0            40999.0  40999.00  40999.0
Toyota RAV 4  Off-Road/Pick-up 0.0            46750.0  46750.00  46750.0
Volvo S90     Sedan            0.0            51900.0  51900.00  51900.0
Volvo XC90    Off-Road/Pick-up 0.0            64400.0  72900.00  72900.0

[86 rows x 8 columns]

- Diğer otomobiller için ilgili marka_model, gövde_tipi ve Yakıt grubunun medyan değerleri.

In [52]:
df["CO2_Emissions"].replace("-", np.nan, inplace=True)

In [53]:
df['CO2_Emissions'].fillna(df.groupby(["Make_Model", "Body_Type", "Fuel_Type"])["CO2_Emissions"].transform("median"), inplace = True)
df['CO2_Emissions'].fillna(df.groupby(["Make_Model", "Body_Type"])["CO2_Emissions"].transform("median"), inplace = True)
df['CO2_Emissions'].fillna(df.groupby("Make_Model")["CO2_Emissions"].transform("median"), inplace = True)
df['CO2_Emissions'].fillna(df["CO2_Emissions"].median(), inplace = True)

In [54]:
df.CO2_Emissions.isnull().sum()

0

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Drivetrain_**</p>

In [63]:
df[['Drivetrain']]

      Drivetrain
0            NaN
1            NaN
2            4WD
3            4WD
4            4WD
...          ...
28625        4WD
28626      Front
28627      Front
28628        NaN
28629      Front

[28630 rows x 1 columns]

In [64]:
df["Drivetrain"].fillna("-", inplace=True)

In [65]:
df.groupby(["Make_Model", "Body_Type", "Drivetrain"]).describe()

                                         Price                              \
                                         count          mean           std
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -             2.0  22389.000000    127.279221
                             Front         1.0  19515.000000           NaN
            Sedan            -             1.0   9999.000000           NaN
            Station wagon    -             1.0  21799.000000           NaN
Dacia Break Station wagon    -             1.0  20500.000000           NaN
...                                        ...           ...           ...
Volvo XC90  Off-Road/Pick-up -            24.0  51277.083333  18230.804731
                             4WD         167.0  52999.940120  20131.832659
                             Front         8.0  30697.250000  10639.353777
            Sedan            -             3.0  60366.666667  21250.254900
            Station wagon    4WD           4.0  32750.000000   3752.776750

                                                                               \
                                             min       25%      50%       75%
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -           22299.0  22344.00  22389.0  22434.00
                             Front       19515.0  19515.00  19515.0  19515.00
            Sedan            -            9999.0   9999.00   9999.0   9999.00
            Station wagon    -           21799.0  21799.00  21799.0  21799.00
Dacia Break Station wagon    -           20500.0  20500.00  20500.0  20500.00
...                                          ...       ...      ...       ...
Volvo XC90  Off-Road/Pick-up -           19975.0  38118.75  49842.5  63750.00
                             4WD          6400.0  42500.00  49980.0  65145.00
                             Front       13900.0  28967.50  34494.5  36224.25
            Sedan            -           47700.0  48100.00  48500.0  66700.00
            Station wagon    4WD         29500.0  29500.00  32750.0  36000.00

                                                  Doors                      \
                                             max  count      mean       std
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -           22479.0    2.0  5.000000  0.000000
                             Front       19515.0    1.0  5.000000       NaN
            Sedan            -            9999.0    1.0  5.000000       NaN
            Station wagon    -           21799.0    1.0  5.000000       NaN
Dacia Break Station wagon    -           20500.0    1.0  4.000000       NaN
...                                          ...    ...       ...       ...
Volvo XC90  Off-Road/Pick-up -           83900.0   24.0  5.000000  0.000000
                             4WD         97450.0  167.0  4.772455  0.420508
                             Front       39900.0    8.0  5.000000  0.000000
            Sedan            -           84900.0    3.0  5.000000  0.000000
            Station wagon    4WD         36000.0    4.0  4.500000  0.577350

                                                                 Mileage  \
                                         min  25%  50%  75%  max   count
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -           5.0  5.0  5.0  5.0  5.0     2.0
                             Front       5.0  5.0  5.0  5.0  5.0     1.0
            Sedan            -           5.0  5.0  5.0  5.0  5.0     1.0
            Station wagon    -           5.0  5.0  5.0  5.0  5.0     1.0
Dacia Break Station wagon    -           4.0  4.0  4.0  4.0  4.0     1.0
...                                      ...  ...  ...  ...  ...     ...
Volvo XC90  Off-Road/Pick-up -           5.0  5.0  5.0  5.0  5.0    24.0
                             4WD         4.0  5.0  5.0  5.0  5.0   167.0
                             Front       5.0  5.0  5.0  5.0  5.0     8.0
            Sedan            -           5.0  5.0  5.0  5.0  5.0     3.0
            Station wagon    4WD         4.0  4.0  4.5  5.0  5.0     4.0

                                                                      \
                                                  mean           std
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -              110.000000      0.000000
                             Front         2376.000000           NaN
            Sedan            -            59098.000000           NaN
            Station wagon    -             2000.000000           NaN
Dacia Break Station wagon    -              999.000000           NaN
...                                                ...           ...
Volvo XC90  Off-Road/Pick-up -            79357.000000  58744.720666
                             4WD          80120.802395  71642.511016
                             Front       134485.500000  57289.129587
            Sedan            -            58761.333333  34192.796176
            Station wagon    4WD         146775.000000   3723.909236

                                                                       \
                                              min       25%       50%
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -              110.0     110.0     110.0
                             Front         2376.0    2376.0    2376.0
            Sedan            -            59098.0   59098.0   59098.0
            Station wagon    -             2000.0    2000.0    2000.0
Dacia Break Station wagon    -              999.0     999.0     999.0
...                                           ...       ...       ...
Volvo XC90  Off-Road/Pick-up -                1.0   34839.5   79149.5
                             4WD           1494.0   31390.0   60000.0
                             Front        82000.0   94889.5  117471.0
            Sedan            -            20635.0   44787.5   68940.0
            Station wagon    4WD         143550.0  143550.0  146775.0

                                                             Seats            \
                                              75%       max  count      mean
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -              110.0     110.0    2.0  5.000000
                             Front         2376.0    2376.0    1.0  4.000000
            Sedan            -            59098.0   59098.0    1.0  5.000000
            Station wagon    -             2000.0    2000.0    1.0  7.000000
Dacia Break Station wagon    -              999.0     999.0    1.0  5.000000
...                                           ...       ...    ...       ...
Volvo XC90  Off-Road/Pick-up -           126820.5  167090.0   24.0  6.833333
                             4WD          94233.0  366000.0  167.0  6.245509
                             Front       157067.0  221000.0    8.0  6.000000
            Sedan            -            77824.5   86709.0    3.0  7.000000
            Station wagon    4WD         150000.0  150000.0    4.0  6.000000

                                                                            \
                                              std  min  25%  50%  75%  max
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -           0.000000  5.0  5.0  5.0  5.0  5.0
                             Front            NaN  4.0  4.0  4.0  4.0  4.0
            Sedan            -                NaN  5.0  5.0  5.0  5.0  5.0
            Station wagon    -                NaN  7.0  7.0  7.0  7.0  7.0
Dacia Break Station wagon    -                NaN  5.0  5.0  5.0  5.0  5.0
...                                           ...  ...  ...  ...  ...  ...
Volvo XC90  Off-Road/Pick-up -           0.564660  5.0  7.0  7.0  7.0  7.0
                             4WD         0.990722  4.0  5.0  7.0  7.0  7.0
                             Front       1.069045  5.0  5.0  6.0  7.0  7.0
            Sedan            -           0.000000  7.0  7.0  7.0  7.0  7.0
            Station wagon    4WD         1.154701  5.0  5.0  6.0  7.0  7.0

                                         Gears                                \
                                         count      mean       std  min  25%
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -             2.0  1.000000  0.000000  1.0  1.0
                             Front         1.0  1.000000       NaN  1.0  1.0
            Sedan            -             1.0  4.000000       NaN  4.0  4.0
            Station wagon    -             1.0  1.000000       NaN  1.0  1.0
Dacia Break Station wagon    -             1.0  6.000000       NaN  6.0  6.0
...                                        ...       ...       ...  ...  ...
Volvo XC90  Off-Road/Pick-up -            24.0  8.000000  0.000000  8.0  8.0
                             4WD         167.0  7.856287  0.518053  6.0  8.0
                             Front         8.0  7.500000  0.925820  6.0  7.5
            Sedan            -             3.0  8.000000  0.000000  8.0  8.0
            Station wagon    4WD           4.0  8.000000  0.000000  8.0  8.0

                                                       CO2_Emissions  \
                                         50%  75%  max         count
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -           1.0  1.0  1.0           2.0
                             Front       1.0  1.0  1.0           1.0
            Sedan            -           4.0  4.0  4.0           1.0
            Station wagon    -           1.0  1.0  1.0           1.0
Dacia Break Station wagon    -           6.0  6.0  6.0           1.0
...                                      ...  ...  ...           ...
Volvo XC90  Off-Road/Pick-up -           8.0  8.0  8.0          24.0
                             4WD         8.0  8.0  8.0         167.0
                             Front       8.0  8.0  8.0           8.0
            Sedan            -           8.0  8.0  8.0           3.0
            Station wagon    4WD         8.0  8.0  8.0           4.0

                                                                       \
                                               mean        std    min
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -           130.000000   0.000000  130.0
                             Front       130.000000        NaN  130.0
            Sedan            -           130.000000        NaN  130.0
            Station wagon    -           130.000000        NaN  130.0
Dacia Break Station wagon    -           124.000000        NaN  124.0
...                                             ...        ...    ...
Volvo XC90  Off-Road/Pick-up -           116.625000  59.399577    0.0
                             4WD         135.275449  54.120978    0.0
                             Front       145.750000   6.017831  136.0
            Sedan            -            47.000000   0.000000   47.0
            Station wagon    4WD         150.500000   1.732051  149.0

                                                                       \
                                             25%    50%    75%    max
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -           130.000  130.0  130.0  130.0
                             Front       130.000  130.0  130.0  130.0
            Sedan            -           130.000  130.0  130.0  130.0
            Station wagon    -           130.000  130.0  130.0  130.0
Dacia Break Station wagon    -           124.000  124.0  124.0  124.0
...                                          ...    ...    ...    ...
Volvo XC90  Off-Road/Pick-up -           125.625  149.0  149.0  152.0
                             4WD         147.000  149.0  158.0  306.0
                             Front       145.750  149.0  149.0  149.0
            Sedan            -            47.000   47.0   47.0   47.0
            Station wagon    4WD         149.000  150.5  152.0  152.0

                                        Cylinders                           \
                                            count      mean       std  min
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -                0.0       NaN       NaN  NaN
                             Front            0.0       NaN       NaN  NaN
            Sedan            -                1.0  4.000000       NaN  4.0
            Station wagon    -                0.0       NaN       NaN  NaN
Dacia Break Station wagon    -                0.0       NaN       NaN  NaN
...                                           ...       ...       ...  ...
Volvo XC90  Off-Road/Pick-up -                4.0  4.000000  0.000000  4.0
                             4WD            115.0  4.104348  0.307049  4.0
                             Front            8.0  4.250000  0.462910  4.0
            Sedan            -                0.0       NaN       NaN  NaN
            Station wagon    4WD              4.0  4.000000  0.000000  4.0

                                                             Empty_Weight  \
                                         25%  50%   75%  max        count
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -           NaN  NaN   NaN  NaN          0.0
                             Front       NaN  NaN   NaN  NaN          1.0
            Sedan            -           4.0  4.0  4.00  4.0          1.0
            Station wagon    -           NaN  NaN   NaN  NaN          0.0
Dacia Break Station wagon    -           NaN  NaN   NaN  NaN          0.0
...                                      ...  ...   ...  ...          ...
Volvo XC90  Off-Road/Pick-up -           4.0  4.0  4.00  4.0          4.0
                             4WD         4.0  4.0  4.00  5.0        117.0
                             Front       4.0  4.0  4.25  5.0          6.0
            Sedan            -           NaN  NaN   NaN  NaN          0.0
            Station wagon    4WD         4.0  4.0  4.00  4.0          4.0

                                                                          \
                                                mean         std     min
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -                   NaN         NaN     NaN
                             Front       1045.000000         NaN  1045.0
            Sedan            -            935.000000         NaN   935.0
            Station wagon    -                   NaN         NaN     NaN
Dacia Break Station wagon    -                   NaN         NaN     NaN
...                                              ...         ...     ...
Volvo XC90  Off-Road/Pick-up -           2153.500000   20.207259  2136.0
                             4WD         2166.094017  122.400697  2000.0
                             Front       2041.666667   50.606982  2009.0
            Sedan            -                   NaN         NaN     NaN
            Station wagon    4WD         1979.500000   56.002976  1931.0

                                                                         \
                                            25%     50%     75%     max
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -              NaN     NaN     NaN     NaN
                             Front       1045.0  1045.0  1045.0  1045.0
            Sedan            -            935.0   935.0   935.0   935.0
            Station wagon    -              NaN     NaN     NaN     NaN
Dacia Break Station wagon    -              NaN     NaN     NaN     NaN
...                                         ...     ...     ...     ...
Volvo XC90  Off-Road/Pick-up -           2136.0  2153.5  2171.0  2171.0
                             4WD         2040.0  2171.0  2297.0  2395.0
                             Front       2009.0  2009.0  2082.5  2107.0
            Sedan            -              NaN     NaN     NaN     NaN
            Station wagon    4WD         1931.0  1979.5  2028.0  2028.0

                                        Previous_Owner                      \
                                                 count      mean       std
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -                     0.0       NaN       NaN
                             Front                 0.0       NaN       NaN
            Sedan            -                     0.0       NaN       NaN
            Station wagon    -                     0.0       NaN       NaN
Dacia Break Station wagon    -                     0.0       NaN       NaN
...                                                ...       ...       ...
Volvo XC90  Off-Road/Pick-up -                    19.0  1.210526  0.418854
                             4WD                 125.0  1.328000  1.134332
                             Front                 8.0  1.250000  0.462910
            Sedan            -                     0.0       NaN       NaN
            Station wagon    4WD                   0.0       NaN       NaN

                                                                      Age  \
                                         min  25%  50%   75%   max  count
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -           NaN  NaN  NaN   NaN   NaN    2.0
                             Front       NaN  NaN  NaN   NaN   NaN    1.0
            Sedan            -           NaN  NaN  NaN   NaN   NaN    1.0
            Station wagon    -           NaN  NaN  NaN   NaN   NaN    1.0
Dacia Break Station wagon    -           NaN  NaN  NaN   NaN   NaN    1.0
...                                      ...  ...  ...   ...   ...    ...
Volvo XC90  Off-Road/Pick-up -           1.0  1.0  1.0  1.00   2.0   24.0
                             4WD         1.0  1.0  1.0  1.00  12.0  167.0
                             Front       1.0  1.0  1.0  1.25   2.0    8.0
            Sedan            -           NaN  NaN  NaN   NaN   NaN    3.0
            Station wagon    4WD         NaN  NaN  NaN   NaN   NaN    4.0

                                                                           \
                                              mean       std   min    25%
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -            0.000000  0.000000   0.0   0.00
                             Front        1.000000       NaN   1.0   1.00
            Sedan            -           47.000000       NaN  47.0  47.00
            Station wagon    -            0.000000       NaN   0.0   0.00
Dacia Break Station wagon    -            0.000000       NaN   0.0   0.00
...                                            ...       ...   ...    ...
Volvo XC90  Off-Road/Pick-up -            3.583333  2.483277   0.0   1.00
                             4WD          4.227545  3.574806   0.0   2.00
                             Front        6.250000  2.434866   4.0   4.75
            Sedan            -            2.666667  1.527525   1.0   2.00
            Station wagon    4WD          6.000000  0.000000   6.0   6.00

                                                          Power_hp  \
                                          50%   75%   max    count
Make_Model  Body_Type        Drivetrain
Dacia       Compact          -            0.0   0.0   0.0      2.0
                             Front        1.0   1.0   1.0      1.0
            Sedan            -           47.0  47.0  47.0      1.0
            Station wagon    -            0.0   0.0   0.0      1.0
Dacia Break Station wagon    -            0.0   0.0   0.0      1.0
...                                       ...   ...   ...      ...
Volvo XC90  Off-Road/Pick-up -            4.0   5.0   8.0     24.0
                             4WD          4.0   5.0  18.0    167.0
                             Front        5.5   7.0  10.0      8.0
            Sedan            -            3.0   3.5   4.0      3.0
            Station wagon    4WD          6.0   6.0   6.0      4.0

                                                                               \

In [66]:
fill(df, "Make_Model", "Body_Type", "Drivetrain", "mode")

Number of NaN :  0
------------------
Front    12066
-        11737
4WD       3252
Rear      1575
Name: Drivetrain, dtype: int64

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Cylinders_**</p>

In [67]:
df[['Cylinders']]

       Cylinders
0            NaN
1            NaN
2            4.0
3            4.0
4            4.0
...          ...
28625        4.0
28626        5.0
28627        4.0
28628        4.0
28629        6.0

[28630 rows x 1 columns]

In [68]:
fill(df, "Make_Model", "Body_Type", "Cylinders", "mode")

Number of NaN :  0
------------------
4.0     19798
3.0      5148
6.0      1322
5.0       970
8.0       943
0.0       187
1.0       136
2.0       107
12.0       11
7.0         6
26.0        1
16.0        1
Name: Cylinders, dtype: int64

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Fuel_Consumption_**</p>

In [69]:
df[['cons_comb']]

       cons_comb
0            NaN
1            NaN
2            8.4
3            7.3
4            4.9
...          ...
28625        NaN
28626        9.1
28627        3.8
28628        6.5
28629       10.4

[28630 rows x 1 columns]

In [70]:
df.cons_comb.corr(df.Power_hp)

0.5070312781578057

In [ ]:
fill(df, "Make_Model", "Power_hp", "cons_comb", "mode")

In [ ]:
df.drop(["cons_country", "cons_city"], axis = 1, inplace = True)

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Comfort_Convenience_**</p>

In [13]:
df[['Comfort_Convenience']]

                                     Comfort_Convenience
0                                                    NaN
1                                                    NaN
2                                                    NaN
3      Air conditioning, Automatic climate control, P...
4      Air conditioning, Electrical side mirrors, Mul...
...                                                  ...
28625  Air conditioning, Automatic climate control, M...
28626  Air conditioning, Armrest, Automatic climate c...
28627  Air conditioning, Armrest, Automatic climate c...
28628  Air conditioning, Armrest, Automatic climate c...
28629  Air conditioning, Armrest, Cruise control, Ele...

[28630 rows x 1 columns]

In [73]:
def comfort_convinence(x):
    if x is np.nan : return np.nan
    elif "Electric tailgate"  in x or  "360° camera" in x or  "Parking assist system self-steering"in x : return "Premium"
    else : return "Standard"
df['Comfort_Convenience'] = df.Comfort_Convenience.apply(comfort_convinence)

In [74]:
def donanim(x):
    if type(x) != float:
         if all(i in x for i in ["Apple CarPlay","Bluetooth","USB","Android Auto","WLAN / WiFi hotspot"]):
            return "Premium"
         else:
            return "Standard"
    else:
        return "No info"
df.Entertainment_Media = df.Entertainment_Media.apply(donanim)

In [75]:
for group in list(df["Entertainment_Media" ].unique()):
    cond = df["Entertainment_Media" ] == group
    mode = list(df[cond]["Comfort_Convenience"].mode())
    if mode != []:
        df.loc[cond, "Comfort_Convenience"] = df.loc[cond, "Comfort_Convenience"].fillna(df[cond]["Comfort_Convenience"].mode()[0])
    else:
        df.loc[cond, "Comfort_Convenience"] = df.loc[cond,"Comfort_Convenience"].fillna(df["Comfort_Convenience"].mode()[0])

In [76]:
df["Comfort_Convenience"].isnull().sum()

0

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Entertainment_Media_**</p>

In [14]:
df[['Entertainment_Media']]

                                     Entertainment_Media
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    USB
4                         Bluetooth, CD player, MP3, USB
...                                                  ...
28625                                     Bluetooth, USB
28626                           On-board computer, Radio
28627  Bluetooth, CD player, Hands-free equipment, MP...
28628  Android Auto, Apple CarPlay, Bluetooth, Hands-...
28629                                  On-board computer

[28630 rows x 1 columns]

In [15]:
def equipment(x):
    if type(x) != float:
         if all(i in x for i in ["Apple CarPlay","Bluetooth","USB","Android Auto","WLAN / WiFi hotspot"]):
            return "Premium"
         else:
            return "Standard"
    else:
        return "No info"

In [16]:
df['Entertainment_Media'] = df.Entertainment_Media.apply(equipment)

In [17]:
df['Entertainment_Media'].value_counts(dropna=False)

Standard    22026
No info      4986
Premium      1618
Name: Entertainment_Media, dtype: int64

In [18]:
df.Entertainment_Media.isnull().sum()

0

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Safety_Security_**</p>

In [19]:
df[['Safety_Security']]

                                         Safety_Security
0                                                    NaN
1                                                    NaN
2                                                    NaN
3      ABS, Central door lock, Driver-side airbag, El...
4      ABS, Central door lock, Driver-side airbag, El...
...                                                  ...
28625  ABS, Central door lock, Driver-side airbag, El...
28626  ABS, Central door lock, Central door lock with...
28627  ABS, Alarm system, Central door lock with remo...
28628  Adaptive Cruise Control, Adaptive headlights, ...
28629  ABS, Alarm system, Central door lock, Central ...

[28630 rows x 1 columns]

In [20]:
def Security(x):
    if type(x) != float:
        if all(i in x for i in ["ABS", "Alarm system", "Driver-side airbag", "Central door lock", 
                                "Emergency system","Head airbag"]):
            return "High_security"
        elif any(i in x for i in ["Blind spot monitor", "Fog lights","High beam assist"]):
            return "Medium_security"
        else:
            return "Low_security"
    else:
        return x

In [21]:
df.Safety_Security = df.Safety_Security.apply(Security)

In [22]:
df.Safety_Security.value_counts(dropna=False)

Medium_security    17137
Low_security        7544
NaN                 3215
High_security        734
Name: Safety_Security, dtype: int64

In [24]:
for group in list(df["Make_Model"].unique()):
    cond = df["Make_Model"] == group
    df.loc[cond, "Safety_Security"] = df.loc[cond, "Safety_Security"].fillna(method= "ffill").fillna(method= "bfill")
df.Safety_Security = df.Safety_Security.fillna(method= "ffill").fillna(method= "bfill")

In [25]:
df.Safety_Security.isnull().sum()

0

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Extras_**</p>

In [26]:
df[['Extras']]

                                                  Extras
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                            Sport seats
4                                                    NaN
...                                                  ...
28625                                       Alloy wheels
28626                  Alloy wheels (16"), Trailer hitch
28627  Alloy wheels, Automatically dimming interior m...
28628  Alloy wheels (18"), Automatically dimming inte...
28629  Alloy wheels, Automatically dimming interior m...

[28630 rows x 1 columns]

In [27]:
def Extras_Classification(x):
    if x is np.nan : return np.nan
    elif 'Steel wheels' in x or 'Voice Control' in x or 'Touch screen' in x : return "Premium"
    else : return "Standard"

In [28]:
df.Extras = df.Extras.apply(Extras_Classification)

In [29]:
df.Extras.value_counts(dropna=False)

Premium     12167
Standard    11313
NaN          5150
Name: Extras, dtype: int64

In [30]:
fill(df, "Make_Model", "Body_Type", "Extras", "mode")

Number of NaN :  0
------------------
Premium     14725
Standard    13905
Name: Extras, dtype: int64

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Empty_Weight_**</p>

**Arabaların ağırlıkları genellikle model tipine ve türüne göre değişir.bu nedenle eksik verileri mod değerine göre dolduramaya karar verdik.**

In [31]:
df[['Empty_Weight']]

       Empty_Weight
0               NaN
1               NaN
2               NaN
3               NaN
4            1545.0
...             ...
28625        2077.0
28626        1357.0
28627        1356.0
28628        1617.0
28629        1573.0

[28630 rows x 1 columns]

In [32]:
df["Empty_Weight"].fillna("-", inplace=True)

In [33]:
df.groupby(["Make_Model", "Body_Type","Empty_Weight"]).Price.describe().sample(1000)

,,,count,mean,std,min,25%,50%,75%,max
Make_Model,Body_Type,Empty_Weight,,,,,,,,
Opel Grandland,Off-Road/Pick-up,1523.0,3.0,33683.333333,7678.758580,25650.0,30050.0,34450.0,37700.0,40950.0
Toyota RAV 4,Off-Road/Pick-up,1560.0,2.0,12695.000000,289.913780,12490.0,12592.5,12695.0,12797.5,12900.0
Skoda Scala,Compact,1314.0,6.0,18486.666667,1393.967958,16990.0,17297.5,18545.0,19162.5,20590.0
Ford Focus,Sedan,-,49.0,21086.877551,8112.840377,2500.0,16260.0,20900.0,23988.0,39990.0
Toyota Prius,Compact,1450.0,1.0,19900.000000,NaN,19900.0,19900.0,19900.0,19900.0,19900.0
...,...,...,...,...,...,...,...,...,...,...
Nissan Qashqai,Off-Road/Pick-up,1625.0,1.0,21080.000000,NaN,21080.0,21080.0,21080.0,21080.0,21080.0
Mercedes-Benz E 320,Sedan,-,1.0,5950.000000,NaN,5950.0,5950.0,5950.0,5950.0,5950.0
Mercedes-Benz C 200,Coupe,1425.0,1.0,31800.000000,NaN,31800.0,31800.0,31800.0,31800.0,31800.0
Opel Crossland X,Coupe,1163.0,1.0,16990.000000,NaN,16990.0,16990.0,16990.0,16990.0,16990.0
Dacia Sandero,Compact,1045.0,1.0,10900.000000,NaN,10900.0,10900.0,10900.0,10900.0,10900.0

In [34]:
df["Empty_Weight"].replace("-", np.nan, inplace=True)

In [35]:
fill(df, "Make_Model", "Body_Type", "Empty_Weight", "mode")

Number of NaN :  0
------------------
1320.0    724
1280.0    518
1055.0    474
1395.0    461
1165.0    392
         ...
944.0       1
1019.0      1
2156.0      1
2232.0      1
1391.0      1
Name: Empty_Weight, Length: 1218, dtype: int64

In [36]:
df.Empty_Weight.isnull().sum()

0

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Upholstery_**</p>

In [37]:
df[['Upholstery']]

         Upholstery
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
...             ...
28625           NaN
28626           NaN
28627           NaN
28628  Full_leather
28629  Full_leather

[28630 rows x 1 columns]

In [38]:
fill(df, "Make_Model", "Body_Type", "Upholstery", "ffill")

Number of NaN :  0
------------------
Cloth           14160
Full_leather     7763
Part_leather     4291
Alcantara        1067
Other             997
Velour            352
Name: Upholstery, dtype: int64

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Previous_Owner_**</p>

**Araç modeline, türüne ve yaş bilgileri alınıp önceki sahibi ile ilişkilendirip baktığımızda tutarlı olarak doldurma işlemi gerçeşletirilemez.Bu yüzden datanın büyük kısmının verisi göz önüne alınıp doldurulmasını makul gördük.**

In [41]:
df[['Previous_Owner']]

       Previous_Owner
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
28625             NaN
28626             NaN
28627             NaN
28628             NaN
28629             NaN

[28630 rows x 1 columns]

In [42]:
df["Previous_Owner"].fillna("-", inplace = True)

In [43]:
df["Previous_Owner"].value_counts(dropna=False)

-       14980
1.0      9490
2.0      3139
3.0       679
4.0       180
5.0        68
6.0        36
7.0        22
8.0        15
9.0        14
12.0        3
10.0        2
14.0        1
13.0        1
Name: Previous_Owner, dtype: int64

In [44]:
df.groupby(['Make_Model', 'Body_Type', 'Age', 'Previous_Owner']).Price.describe().sample(60)

                                                             count  \
Make_Model              Body_Type        Age Previous_Owner
Renault Clio            Compact          0   -                12.0
Opel                    Convertible      7   1.0               1.0
Nissan Qashqai          Off-Road/Pick-up 4   3.0               1.0
Toyota Yaris            Coupe            2   -                 1.0
Renault Clio            Compact          8   3.0               1.0
Nissan Primastar        Station wagon    8   -                 2.0
Volvo V40               Coupe            4   -                 5.0
Volvo V60               Station wagon    11  -                 2.0
Renault Megane          Station wagon    6   2.0               3.0
Peugeot 308             Convertible      11  4.0               1.0
Fiat 500X               Off-Road/Pick-up 4   1.0              10.0
SEAT Alhambra           Station wagon    4   1.0               1.0
Volvo XC90              Off-Road/Pick-up 5   -                12.0
Fiat 500 Abarth         Compact          1   4.0               1.0
SEAT Altea XL           Sedan            15  2.0               1.0
Peugeot 308             Compact          1   3.0               1.0
Mercedes-Benz E 200     Station wagon    19  1.0               1.0
Hyundai TUCSON          Off-Road/Pick-up 3   3.0               2.0
Peugeot 3008            Station wagon    0   -                 5.0
Opel Speedster          Convertible      19  -                 1.0
Toyota RAV 4            Off-Road/Pick-up 6   3.0               1.0
Nissan Primera          Station wagon    18  -                 2.0
Toyota C-HR             Sedan            3   2.0               1.0
Hyundai i30             Station wagon    10  -                 5.0
Fiat 500                Coupe            59  -                 1.0
Volvo V90 Cross Country Station wagon    3   1.0               3.0
Toyota Coaster          Coupe            18  1.0               1.0
Toyota Yaris            Coupe            2   1.0               1.0
Renault Clio            Station wagon    9   1.0               1.0
Ford Focus              Sedan            1   2.0               5.0
                        Compact          6   1.0               2.0
                        Sedan            13  -                 1.0
Peugeot 205             Convertible      33  2.0               1.0
Volvo P1800             Coupe            56  1.0               3.0
Mercedes-Benz A 35 AMG  Compact          2   -                 1.0
Mercedes-Benz CLA 180   Coupe            4   2.0               1.0
Hyundai                 Off-Road/Pick-up 1   2.0               1.0
Dacia Sandero           Sedan            0   5.0               1.0
Peugeot RCZ             Coupe            12  5.0               1.0
Renault Megane          Coupe            7   1.0               5.0
Nissan Juke             Station wagon    0   1.0               2.0
Volvo S80               Sedan            10  -                 1.0
Hyundai SANTA FE        Off-Road/Pick-up 6   2.0               1.0
Opel Insignia           Station wagon    3   -                10.0
Opel Astra              Compact          10  -                 1.0
Renault Clio            Station wagon    7   2.0               5.0
Peugeot 308             Sedan            7   1.0               1.0
Opel Cascada            Convertible      4   7.0               1.0
Mercedes-Benz X 250     Off-Road/Pick-up 3   -                 1.0
Renault Laguna          Sedan            7   -                 2.0
Opel Corsa              Compact          1   3.0               1.0
Mercedes-Benz E 220     Sedan            12  3.0               1.0
Renault Megane          Convertible      10  3.0               6.0
Ford Kuga               Off-Road/Pick-up 8   1.0               1.0
Ford Fiesta             Compact          3   3.0               1.0
Nissan Almera           Compact          18  2.0               1.0
Fiat Punto Evo          Compact          8   -                 2.0
Mercedes-Benz A 180     Compact          8   2.0               1.0
Renault Talisman        Station wagon    6   1.0               4.0
Fiat Tipo               Sedan            0   2.0               3.0

                                                                     mean  \
Make_Model              Body_Type        Age Previous_Owner
Renault Clio            Compact          0   -               21350.333333
Opel                    Convertible      7   1.0             15421.000000
Nissan Qashqai          Off-Road/Pick-up 4   3.0             21500.000000
Toyota Yaris            Coupe            2   -               39999.000000
Renault Clio            Compact          8   3.0              9350.000000
Nissan Primastar        Station wagon    8   -               14490.000000
Volvo V40               Coupe            4   -               14310.000000
Volvo V60               Station wagon    11  -                8999.000000
Renault Megane          Station wagon    6   2.0             12576.666667
Peugeot 308             Convertible      11  4.0              6600.000000
Fiat 500X               Off-Road/Pick-up 4   1.0             15951.800000
SEAT Alhambra           Station wagon    4   1.0             31900.000000
Volvo XC90              Off-Road/Pick-up 5   -               45513.166667
Fiat 500 Abarth         Compact          1   4.0             26950.000000
SEAT Altea XL           Sedan            15  2.0              4900.000000
Peugeot 308             Compact          1   3.0             23490.000000
Mercedes-Benz E 200     Station wagon    19  1.0              3880.000000
Hyundai TUCSON          Off-Road/Pick-up 3   3.0             23235.000000
Peugeot 3008            Station wagon    0   -               36579.200000
Opel Speedster          Convertible      19  -               20995.000000
Toyota RAV 4            Off-Road/Pick-up 6   3.0             18480.000000
Nissan Primera          Station wagon    18  -                1500.000000
Toyota C-HR             Sedan            3   2.0             22800.000000
Hyundai i30             Station wagon    10  -                7015.800000
Fiat 500                Coupe            59  -               16000.000000
Volvo V90 Cross Country Station wagon    3   1.0             41206.666667
Toyota Coaster          Coupe            18  1.0              8900.000000
Toyota Yaris            Coupe            2   1.0             29900.000000
Renault Clio            Station wagon    9   1.0              6849.000000
Ford Focus              Sedan            1   2.0             22302.000000
                        Compact          6   1.0             26575.000000
                        Sedan            13  -                4990.000000
Peugeot 205             Convertible      33  2.0             10995.000000
Volvo P1800             Coupe            56  1.0             32633.333333
Mercedes-Benz A 35 AMG  Compact          2   -               46990.000000
Mercedes-Benz CLA 180   Coupe            4   2.0             27990.000000
Hyundai                 Off-Road/Pick-up 1   2.0             19980.000000
Dacia Sandero           Sedan            0   5.0             19490.000000
Peugeot RCZ             Coupe            12  5.0              9000.000000
Renault Megane          Coupe            7   1.0             21448.000000
Nissan Juke             Station wagon    0   1.0             31099.000000
Volvo S80               Sedan            10  -               10950.000000
Hyundai SANTA FE        Off-Road/Pick-up 6   2.0             21809.000000
Opel Insignia           Station wagon    3   -               26493.900000
Opel Astra              Compact          10  -                6995.000000
Renault Clio            Station wagon    7   2.0              9240.200000
Peugeot 308             Sedan            7   1.0             10700.000000
Opel Cascada            Convertible      4   7.0             21900.000000
Mercedes-Benz X 250     Off-Road/Pick-up 3   -               39999.000000
Renault Laguna          Sedan            7   -                9820.000000
Opel Corsa              Compact          1   3.0             16900.000000
Mercedes-Benz E 220     Sedan            12  3.0             14900.000000
Renault Megane          Convertible      10  3.0              8139.833333
Ford Kuga               Off-Road/Pick-up 8   1.0             13990.000000
Ford Fiesta             Compact          3   3.0             13990.000000
Nissan Almera           Compact          18  2.0              2890.000000
Fiat Punto Evo          Compact          8   -                7400.000000
Mercedes-Benz A 180     Compact          8   2.0             14945.000000
Renault Talisman        Station wagon    6   1.0             19510.000000
Fiat Tipo               Sedan            0   2.0             19456.666667

                                                                      std  \
Make_Model              Body_Type        Age Previous_Owner
Renault Clio            Compact          0   -                3543.089749
Opel                    Convertible      7   1.0                      NaN
Nissan Qashqai          Off-Road/Pick-up 4   3.0                      NaN
Toyota Yaris            Coupe            2   -                        NaN
Renault Clio            Compact          8   3.0                      NaN
Nissan Primastar        Station wagon    8   -                7778.174593
Volvo V40               Coupe            4   -                 191.702895
Volvo V60               Station wagon    11  -                   0.000000
Renault Megane          Station wagon    6   2.0              1671.685776
Peugeot 308             Convertible      11  4.0                      NaN
Fiat 500X               Off-Road/Pick-up 4   1.0              2133.371395
SEAT Alhambra           Station wagon    4   1.0                      NaN
Volvo XC90              Off-Road/Pick-up 5   -                7178.859885
Fiat 500 Abarth         Compact          1   4.0                      NaN
SEAT Altea XL           Sedan            15  2.0                      NaN
Peugeot 308             Compact          1   3.0                      NaN
Mercedes-Benz E 200     Station wagon    19  1.0                      NaN
Hyundai TUCSON          Off-Road/Pick-up 3   3.0              1053.589104
Peugeot 3008            Station wagon    0   -                7558.188288
Opel Speedster          Convertible      19  -                        NaN
Toyota RAV 4            Off-Road/Pick-up 6   3.0                      NaN
Nissan Primera          Station wagon    18  -                 212.132034
Toyota C-HR             Sedan            3   2.0                      NaN
Hyundai i30             Station wagon    10  -                1735.378403
Fiat 500                Coupe            59  -                        NaN
Volvo V90 Cross Country Station wagon    3   1.0             10194.088156
Toyota Coaster          Coupe            18  1.0                      NaN
Toyota Yaris            Coupe            2   1.0                      NaN
Renault Clio            Station wagon    9   1.0                      NaN
Ford Focus              Sedan            1   2.0              2267.977072
                        Compact          6   1.0             14601.755032
                        Sedan            13  -                        NaN
Peugeot 205             Convertible      33  2.0                      NaN
Volvo P1800             Coupe            56  1.0              1096.965511
Mercedes-Benz A 35 AMG  Compact          2   -                        NaN
Mercedes-Benz CLA 180   Coupe            4   2.0                      NaN
Hyundai                 Off-Road/Pick-up 1   2.0                      NaN
Dacia Sandero           Sedan            0   5.0                      NaN
Peugeot RCZ             Coupe            12  5.0                      NaN
Renault Megane          Coupe            7   1.0              7213.686298
Nissan Juke             Station wagon    0   1.0              6505.382387
Volvo S80               Sedan            10  -                        NaN
Hyundai SANTA FE        Off-Road/Pick-up 6   2.0                      NaN
Opel Insignia           Station wagon    3   -                4675.145261
Opel Astra              Compact          10  -                        NaN
Renault Clio            Station wagon    7   2.0               545.944320
Peugeot 308             Sedan            7   1.0                      NaN
Opel Cascada            Convertible      4   7.0                      NaN
Mercedes-Benz X 250     Off-Road/Pick-up 3   -                        NaN
Renault Laguna          Sedan            7   -                  42.426407
Opel Corsa              Compact          1   3.0                      NaN
Mercedes-Benz E 220     Sedan            12  3.0                      NaN
Renault Megane          Convertible      10  3.0              3577.610399
Ford Kuga               Off-Road/Pick-up 8   1.0                      NaN
Ford Fiesta             Compact          3   3.0                      NaN
Nissan Almera           Compact          18  2.0                      NaN
Fiat Punto Evo          Compact          8   -                 777.817459
Mercedes-Benz A 180     Compact          8   2.0                      NaN
Renault Talisman        Station wagon    6   1.0              3535.637613
Fiat Tipo               Sedan            0   2.0              3455.059093

                                                                 min  \
Make_Model              Body_Type        Age Previous_Owner
Renault Clio            Compact          0   -               14990.0
Opel                    Convertible      7   1.0             15421.0
Nissan Qashqai          Off-Road/Pick-up 4   3.0             21500.0
Toyota Yaris            Coupe            2   -               39999.0
Renault Clio            Compact          8   3.0              9350.0
Nissan Primastar        Station wagon    8   -                8990.0
Volvo V40               Coupe            4   -               14100.0
Volvo V60               Station wagon    11  -                8999.0
Renault Megane          Station wagon    6   2.0             10950.0
Peugeot 308             Convertible      11  4.0              6600.0
Fiat 500X               Off-Road/Pick-up 4   1.0             12250.0
SEAT Alhambra           Station wagon    4   1.0             31900.0
Volvo XC90              Off-Road/Pick-up 5   -               30890.0
Fiat 500 Abarth         Compact          1   4.0             26950.0
SEAT Altea XL           Sedan            15  2.0              4900.0
Peugeot 308             Compact          1   3.0             23490.0
Mercedes-Benz E 200     Station wagon    19  1.0              3880.0
Hyundai TUCSON          Off-Road/Pick-up 3   3.0             22490.0
Peugeot 3008            Station wagon    0   -               25000.0
Opel Speedster          Convertible      19  -               20995.0
Toyota RAV 4            Off-Road/Pick-up 6   3.0             18480.0
Nissan Primera          Station wagon    18  -                1350.0
Toyota C-HR             Sedan            3   2.0             22800.0
Hyundai i30             Station wagon    10  -                4999.0
Fiat 500                Coupe            59  -               16000.0
Volvo V90 Cross Country Station wagon    3   1.0             34190.0
Toyota Coaster          Coupe            18  1.0              8900.0
Toyota Yaris            Coupe            2   1.0             29900.0
Renault Clio            Station wagon    9   1.0              6849.0
Ford Focus              Sedan            1   2.0             18290.0
                        Compact          6   1.0             16250.0
                        Sedan            13  -                4990.0
Peugeot 205             Convertible      33  2.0             10995.0
Volvo P1800             Coupe            56  1.0             32000.0
Mercedes-Benz A 35 AMG  Compact          2   -               46990.0
Mercedes-Benz CLA 180   Coupe            4   2.0             27990.0
Hyundai                 Off-Road/Pick-up 1   2.0             19980.0
Dacia Sandero           Sedan            0   5.0             19490.0
Peugeot RCZ             Coupe            12  5.0              9000.0
Renault Megane          Coupe            7   1.0             10800.0
Nissan Juke             Station wagon    0   1.0             26499.0
Volvo S80               Sedan            10  -               10950.0
Hyundai SANTA FE        Off-Road/Pick-up 6   2.0             21809.0
Opel Insignia           Station wagon    3   -               19980.0
Opel Astra              Compact          10  -                6995.0
Renault Clio            Station wagon    7   2.0              8500.0
Peugeot 308             Sedan            7   1.0             10700.0
Opel Cascada            Convertible      4   7.0             21900.0
Mercedes-Benz X 250     Off-Road/Pick-up 3   -               39999.0
Renault Laguna          Sedan            7   -                9790.0
Opel Corsa              Compact          1   3.0             16900.0
Mercedes-Benz E 220     Sedan            12  3.0             14900.0
Renault Megane          Convertible      10  3.0              4000.0
Ford Kuga               Off-Road/Pick-up 8   1.0             13990.0
Ford Fiesta             Compact          3   3.0             13990.0
Nissan Almera           Compact          18  2.0              2890.0
Fiat Punto Evo          Compact          8   -                6850.0
Mercedes-Benz A 180     Compact          8   2.0             14945.0
Renault Talisman        Station wagon    6   1.0             14250.0
Fiat Tipo               Sedan            0   2.0             15990.0

                                                                  25%  \
Make_Model              Body_Type        Age Previous_Owner
Renault Clio            Compact          0   -               18305.00
Opel                    Convertible      7   1.0             15421.00
Nissan Qashqai          Off-Road/Pick-up 4   3.0             21500.00
Toyota Yaris            Coupe            2   -               39999.00
Renault Clio            Compact          8   3.0              9350.00
Nissan Primastar        Station wagon    8   -               11740.00
Volvo V40               Coupe            4   -               14100.00
Volvo V60               Station wagon    11  -                8999.00
Renault Megane          Station wagon    6   2.0             11720.00
Peugeot 308             Convertible      11  4.0              6600.00
Fiat 500X               Off-Road/Pick-up 4   1.0             14742.25
SEAT Alhambra           Station wagon    4   1.0             31900.00
Volvo XC90              Off-Road/Pick-up 5   -               42342.25
Fiat 500 Abarth         Compact          1   4.0             26950.00
SEAT Altea XL           Sedan            15  2.0              4900.00
Peugeot 308             Compact          1   3.0             23490.00
Mercedes-Benz E 200     Station wagon    19  1.0              3880.00
Hyundai TUCSON          Off-Road/Pick-up 3   3.0             22862.50
Peugeot 3008            Station wagon    0   -               33999.00
Opel Speedster          Convertible      19  -               20995.00
Toyota RAV 4            Off-Road/Pick-up 6   3.0             18480.00
Nissan Primera          Station wagon    18  -                1425.00
Toyota C-HR             Sedan            3   2.0             22800.00
Hyundai i30             Station wagon    10  -                6450.00
Fiat 500                Coupe            59  -               16000.00
Volvo V90 Cross Country Station wagon    3   1.0             35360.00
Toyota Coaster          Coupe            18  1.0              8900.00
Toyota Yaris            Coupe            2   1.0             29900.00
Renault Clio            Station wagon    9   1.0              6849.00
Ford Focus              Sedan            1   2.0             22950.00
                        Compact          6   1.0             21412.50
                        Sedan            13  -                4990.00

In [45]:
df.groupby(['Make_Model', 'Body_Type', 'Age', 'Previous_Owner']).Mileage.describe().sample(20)

,,,,count,mean,std,min,25%,50%,75%,max
Make_Model,Body_Type,Age,Previous_Owner,,,,,,,,
Peugeot 508,Station wagon,0,1.0,8.0,5332.000000,5304.544655,1000.0,1262.50,2749.5,9155.25,15000.0
Renault R 19,Convertible,28,3.0,1.0,175000.000000,NaN,175000.0,175000.00,175000.0,175000.00,175000.0
Nissan Primera,Station wagon,16,-,6.0,217838.166667,53926.121090,150884.0,188421.75,206843.5,244996.25,302463.0
Volvo V40,Station wagon,4,3.0,1.0,39378.000000,NaN,39378.0,39378.00,39378.0,39378.00,39378.0
Renault ZOE,Sedan,1,1.0,1.0,7500.000000,NaN,7500.0,7500.00,7500.0,7500.00,7500.0
Peugeot 108,Compact,4,-,4.0,65545.000000,26238.724982,31399.0,57019.00,67790.5,76316.50,95200.0
Toyota Celica,Coupe,27,3.0,1.0,200000.000000,NaN,200000.0,200000.00,200000.0,200000.00,200000.0
Skoda Fabia,Sedan,12,-,1.0,99700.000000,NaN,99700.0,99700.00,99700.0,99700.00,99700.0
Peugeot 3008,Off-Road/Pick-up,7,1.0,2.0,88588.000000,16295.982879,77065.0,82826.50,88588.0,94349.50,100111.0
Skoda Octavia,Station wagon,14,1.0,1.0,254000.000000,NaN,254000.0,254000.00,254000.0,254000.00,254000.0
Hyundai i20,Compact,8,-,1.0,78000.000000,NaN,78000.0,78000.00,78000.0,78000.00,78000.0
Mercedes-Benz SLK 350,Convertible,11,-,1.0,50000.000000,NaN,50000.0,50000.00,50000.0,50000.00,50000.0
Ford Mustang,Convertible,15,-,3.0,130433.666667,40781.296109,85000.0,113714.50,142429.0,153150.50,163872.0
Mercedes-Benz E 350,Station wagon,8,1.0,1.0,108000.000000,NaN,108000.0,108000.00,108000.0,108000.00,108000.0
Peugeot 3008,Off-Road/Pick-up,3,-,17.0,61327.411765,43032.317455,15800.0,34580.00,43775.0,71000.00,200839.0
Mercedes-Benz GLC 43 AMG,Off-Road/Pick-up,3,-,1.0,44000.000000,NaN,44000.0,44000.00,44000.0,44000.00,44000.0
SEAT Ibiza,Sedan,8,-,2.0,78035.500000,5319.564315,74274.0,76154.75,78035.5,79916.25,81797.0
Peugeot 307,Sedan,18,-,1.0,253015.000000,NaN,253015.0,253015.00,253015.0,253015.00,253015.0
Nissan NV300,Station wagon,5,-,3.0,83164.000000,11980.194197,70208.0,77825.50,85443.0,89642.00,93841.0
Nissan Micra,Compact,4,3.0,2.0,58332.500000,12389.217913,49572.0,53952.25,58332.5,62712.75,67093.0

In [46]:
fill_prop(df, "Age", "Previous_Owner")

Number of NaN :  0
------------------
-       14980
1.0      9490
2.0      3139
3.0       679
4.0       180
5.0        68
6.0        36
7.0        22
8.0        15
9.0        14
12.0        3
10.0        2
14.0        1
13.0        1
Name: Previous_Owner, dtype: int64

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Energy_Efficiency_Class_**</p>

In [13]:
df[['Energy_Efficiency_Class']]

      Energy_Efficiency_Class
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
...                       ...
28625                     NaN
28626                     NaN
28627                     NaN
28628                     NaN
28629                     NaN

[28630 rows x 1 columns]

In [ ]:
fill(df, "Make_Model", "CO2_Emissions", "Energy_Efficiency_Class", "mode" )

### <p style="background-color:#FDFEFE; font-family:newtimeroman; color:Red; font-size:200%; text-align:center; border-radius:10px 10px;">**_Taxi_Rental_Car_**</p>

In [ ]:
df[['Taxi_Rental_Car']]

In [ ]:
df['Taxi_Rental_Car'] = df['Taxi_Rental_Car'].fillna("No")

In [ ]:
df.Taxi_Rental_Car.isnull().sum()

In [ ]:
df.Taxi_Rental_Car.value_counts(dropna=False)

In [ ]:
df.to_csv("Autoscout_Missing_Value.csv", index=False)